{% extends 'BehatBrowserCoreBundle::layout.html.twig' %}

{% block content %}{% verbatim %}


    <div class="navbar" bs-navbar>
      <div class="navbar-inner">
        <a class="brand" href="#">Behat Browser</a>
        <ul class="nav">
          <li data-match-route="/feature.*"><a href="#/features">Features</a></li>
          <li data-match-route="/definition.*"><a href="#/definitions">Definitions</a></li>
        </ul>
      </div>
    </div>

    <div ng-view></div>

{% endverbatim %}{% endblock %}

{% block endscript %}
    {{ parent() }}
    {% javascripts    
        '@BehatBrowserCoreBundle/Resources/public/js/filters.js'
        '@BehatBrowserCoreBundle/Resources/public/js/app.js'
        '@BehatBrowserCoreBundle/Resources/public/js/controllers.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

